@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Rubik', sans-serif;
  background-color: #f1f1f5;
  width: 100vw;
  height:100vh;
}


input:checked ~ .slider {
  background-color: #01ccce;
}


input:checked ~ .dot {
  transform: translateX(90%);
  box-shadow: 0px 2px 4px 0px rgba(142, 165, 180, 0.41);
left:-4px;
}


.nth:nth-of-type(1){
margin-left: 0;
}

